@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 14px;
  font-weight: 400;
}
a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--small-text-color);
  font-weight: 700;
}
.app_btn {
  border: 1px solid #24262b;
  padding: 16px 25px;
  border-radius: 5px;
  transition: all 0.3s;
}
.app_btn:hover {
  border: 1px solid #e0af59;
  color: #e0af59;
}
ul,
li {
  list-style: none;
}

img {
  width: 100%;
}
:root {
  --small-text-color: #24262b;
  --hover-color: #b19361;
  --gray-color: #6c757d;
  --white-color: #fef5ef;
}
/* header */
.header {
  background-color: var(--white-color);
}
.header_wrap {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logu {
  width: 100px;
}
.header_logu img {
  width: 100%;
  display: block;
}
.header_menu > ul > li,
.header_active_link ul li {
  display: inline-block;
  padding: 30px 20px;
  position: relative;
}
.header_menu > ul > li a {
  transition: all 0.3s;
}
.header_menu > ul > li a:hover {
  color: var(--hover-color);
}
/* Hover menu */
.hover_menu {
  background-color: #fff;
  min-width: 200px;
  position: absolute;
  padding: 25px 30px;
  top: 100%;
  left: 0;
  transform: perspective(500px) rotateX(-90deg);
  transform-origin: top left;
  transition: 0.5s;
  box-shadow: 0 10px 11px 0 rgba(0, 0, 0, 0.1);
}
.header_menu ul li:hover ul.hover_menu {
  transform: perspective(900px) rotateX(0deg);
}
ul.hover_efect li a {
  display: block;
  font-weight: 200;
  transition: all 0.5s;
  text-transform: capitalize;
}

ul.hover_efect li a:hover {
  transform: translateX(10px);
  color: #e0af59;
}
ul.hover_efect > li {
  padding: 10px 0;
}

ul.hover_efect h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.shop_links_wrap {
  background-color: #fff;
  min-width: 850px;
  position: absolute;
  padding: 25px 30px;
  top: 100%;
  left: -110%;
  transition: 0.5s;
  transform-origin: top left;
  box-shadow: 0 10px 11px 0 rgba(0, 0, 0, 0.1);
  transform: perspective(600px) rotateX(-90deg);
  cursor: pointer;
}
.header_menu ul li:hover .shop_links_wrap {
  transform: perspective(900px) rotateX(0deg);
}

.shop_iteam_wrap {
  display: flex;
  justify-content: space-between;
}
.shop_baner {
  display: block;
  width: 100%;
}
.shop_baner img {
  margin-top: 10px;
}

/* Hover iteam */
.header_active_link ul li a {
  font-size: 25px;
  position: relative;
  font-weight: 400;
}
.header_active_link ul li a span {
  font-size: 14px;
  position: absolute;
  background-color: #b19361;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  color: var(--white-color);
  line-height: 15px;
  top: 15px;
  left: 14px;
}
.header_active_link ul li:last-child a {
  background-color: #f2e8e780;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}
/* hero */
.hero {
  background: url(../image/hero-slider-1.jpg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero_section_wrap {
  height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}
.hero_section_content p {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 5px;
}
.hero_section_content h2 {
  font-size: 70px;
  font-weight: 600;
  margin: 0 0 5px;
  line-height: 75px;
}
.hero_section_content a {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid var(--hover-color);
  transition: all 0.3s;
  margin-top: 50px;
  border-radius: 5px;
  font-weight: 600;
}
.hero_section_content a:hover {
  color: #b19361;
}

/* Service box */
.service {
  margin-top: 100px;
}
.service .container {
  margin: auto;
  width: 80%;
}
.service_box_wrapper {
  display: flex;
  justify-content: space-between;
}
.service_box_img {
  width: 100%;
  display: block;
}
.service_box_img img {
  width: 100px;
  margin-bottom: 17px;
}
.service_box {
  text-align: center;
}

.service_box h5 {
  font-size: 15px;
  font-weight: 100px;
  margin-bottom: 12px;
}
.service_box p {
  color: var(--gray-color);
}

/* Banner section start here */

.banner {
  margin-top: 100px;
}
.banner .container {
  margin: auto;
  width: 80%;
}
.banner_wrapper {
  display: flex;
  gap: 20px;
}

/* .banner_iteam{
  display: block;
} */
.banner_iteam img {
  width: 100%;
  display: block;
}
.banner_right_wrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.banner_left img {
  width: 100%;
}
.banner_left,
.banner_right_wrap {
  flex-basis: 50%;
}
.banner_right_iteam img {
  width: 100%;
}
.banner_iteam {
  position: relative;
}
.banner_img_text {
  position: absolute;
  z-index: 9999999;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
}
.banner_img_text h4 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 27px;
  margin-bottom: 15px;
}
.banner_img_text a {
  letter-spacing: 4px;
}
.banner_left_text {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
}
.banner_left_text h4 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 34px;
  margin-bottom: 7px;
}
.banner_left_text p {
  font-size: 17px;
  color: #6c757d;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
  display: block;
}
.banner_left_text a {
  margin-top: 30px;
  display: block;
  width: fit-content;
}
.banner_left_text a i {
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  color: #6c757d;
  transition: all 0.3s;
}
.banner_left_text a:hover i {
  color: #e0af59;
}

.image_hover_effect::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  background-color: blue;
  opacity: 1;
}
.image_hover_effect::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.image_hover_effect:hover::after {
  opacity: 0;
  height: 100%;
  transition: all 1s;
}
.image_hover_effect::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.image_hover_effect:hover::before {
  opacity: 0;
  width: 100%;
  transition: all 1s;
}

/* products  */
.products {
  margin-top: 90px;
}
.products .container {
  margin: auto;
  width: 80%;
}
.products_titel h1 {
  font-size: 30px;
  margin-bottom: 4px;
}
.products_titel p {
  color: var(--gray-color);
}
.producats_img img {
  width: 333px;
}
.products_iteam_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  column-count: 2;
}
.producats_details {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  /* position: relative;
  z-index: 99999999; */
  cursor: pointer;
}
.products_details_left h3 {
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s;
  margin-bottom: 7px;
}
.products_details_left h3:hover {
  color: var(--hover-color);
}
.products_review i {
  color: #e0af59;
}
.products_details_right {
  padding-top: 25px;
}
.products_details_right span {
  font-weight: 400;
  color: #6c757d;
  font-size: 15px;
}
.producats_img {
  position: relative;
  display: block;
}
.products_hover {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: black;
  line-height: 60px;
  padding: 0 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: translateY(60px);
  opacity: 0;
  visibility: hidden;
}
.producats_img:hover .products_hover {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.products_hover_left h2 {
  font-weight: 600;
  color: #fef5ef;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}
.products_hover_left h2:hover {
  color: #e0af59;
}
.products_hover_right i {
  color: #fef5ef;
  padding-left: 12px;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}
.products_hover_right i:hover {
  color: #e0af59;
}

/* Modern Furniture section start here  */
.Modern_Furniture {
  margin-top: 100px;
}
.Modern_Furniture .container {
  margin: auto;
  width: 80%;
}
.Modern_Furniture_wrap {
  text-align: center;
}
.Modern_Furniture_img {
  margin-left: 70px;
  position: relative;
}
.Modern_Furniture_img img {
  width: 67%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.Modern_Furniture_contant {
  position: absolute;
  top: 15%;
  right: 25%;
  width: 55%;
  text-align: right;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  width: 32%;
  text-align: left;
  z-index: 9999999;
}
.Modern_Furniture_contant h4 {
  font-weight: 200;
  line-height: 1.2;
  font-size: 3.1rem;
  margin-bottom: 7px;
}
.Modern_Furniture_contant p {
  font-size: 16px;
  color: #6c757d;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
  display: block;
}
.Modern_Furniture_contant a {
  margin-top: 30px;
  width: fit-content;
  display: inline-block;
}

/* section banner start here */

.banner2nd{
  margin-top: 100px;
}
.banner2nd_wrap{
  display: flex;
}
.banner2nd_img img{
 width: 100%;
 display: block;
}
.banner2nd_img{
  position: relative;
}
.banner2nd_img_over_contant {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.banner2nd_img_over_contant_left h4{
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.banner2nd_img_over_contant_left h6{
  font-size: 14px;
  letter-spacing: 0.12em;
  color: #777;
}
.banner2nd_img_over_contant_right i{
  /* display: inline-block; */
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #24262b;
    background: #fafafa;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 2px solid transparent;
    outline: none;
    line-height: 38px;
    font-size: 24px;
    transition: all 0.5s ease-in-out;
}